@using Microsoft.AspNetCore.Http

<a class="btn btn-primary" asp-controller="Company" asp-action="Edit" asp-route-id="@Context.Session.GetString("Id")">Editar</a>
<a class="btn btn-info">Cargar imagen</a>
